<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7 col-sm-3 col-md-3 col-lg-2 sidebar sidebar-left sidebar-animate sidebar-md-show">

            <h3>Slarkive</h3>
            <p>Techtribes Slack Archive</p>

            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ 'active': channel.name == selectedChannel.name}" ng-repeat="channel in channelList">
                    <a style="cursor: pointer" ng-click="selectChannel(channel)"><strong> #{{channel.name}}</strong></a>
                </li>
            </ul>
        </div>

        <div class="main col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">

            <div class="navbar-default main-header">
                <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg pu" data-toggle="sidebar" data-target=".sidebar-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle toggle-right  btn-lg" data-toggle="sidebar" data-target=".sidebar-right">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#">#{{selectedChannel.name}}</a>
            </div>

            <div class="container main-content" ui-view>
            </div> 

            <div class="col-xs-7 col-sm-3 col-md-3 search sidebar sidebar-right sidebar-animate ">

                <div class="search-header">
                    <button type="button" id="sidebar-right-close" class="close" ng-click="closeSearchBar()" aria-hidden="true">x</button>
                    <h4 class="search-title">Search messages</h4>
                </div>

                <div class="search-form">
                    <form class="form-search" ng-submit="searchMessages(search)">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="search input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" ng-model="search">
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="search-content">
                    <div class="list-group">
                        <div class="list-group-item message" ng-repeat="message in messageList" >
                            <h6 class="list-group-item-heading">#{{message.channel}}</h6>
                            <h6 class="list-group-item-heading"><strong>{{message.user}}</strong>
                                <small>
                                    <a style="cursor:pointer" ui-sref="app.archivet({ channel_id: message.channel, ts : message.ts })"> {{message.date}} {{message.time}}</a>
                                </small>
                                    
                            </h6>
                            <p class="list-group-item-text" btf-markdown="message.text">
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>

